:root {
    --primary-white-color: #FFFFFF;
    --primary-text-color: #212121;
    --primary-logo-color: #000000;
    --primary-link-color: #212121;
    --title-text-color: #757575;
    --accent-text-color: #2196F3;
    --primary-bg-color: #2F303A;
    --second-bg-color: #F5F4FA;
    --accent-bg-color: #2196F3;
    --accent-btn-color: #188CE8;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
}
p, h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button{
cursor: pointer;
}

/* ---------Універсальні класи--------- */
body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;  
}

.cotainer {
    width: 1200px;
    padding: 0 15px;
    margin: auto;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

.link {
    display: inline-block;
    padding: 20px;
    
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    
}

.link:hover,
.link:focus {
    color: var(--accent-text-color);
}

.list {
    list-style: none;

    padding: 0;
    margin: 0;
    
}

.visual-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

/* ---------стилі для index.html--------- */
/*--------- Хедер--------- */
/* .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

/* .site-nav {
    display: flex;
    justify-content: space-between;
} */

.logo {
    color: var(--primary-logo-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo:hover,
.logo:focus {
    color: var(--accent-text-color);
}

.logo-span {
    color: var(--accent-text-color);
}

/* .nav-list {
    display: flex;
justify-content: space-around;
    margin-left: 93px;
    
} */

.nav-link {
     color: var(--primary-link-color);
}

.current {
    color: var(--accent-text-color);
}

.contacts-link {
    color: var(--title-text-color);
}

/* .contacts-list {
    display: flex;
} */

/*--------- Герой--------- */
.hero {
    background-color: var(--primary-bg-color);
    
       
}

.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}

.hero-btn {
    display: block;
    padding: 12px 28px;
    border: none;
    border-radius: 4px;

    font-family: inherit;
    background-color: var(--accent-bg-color);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    

}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--accent-btn-color);
}

/*--------- Переваги--------- */
/* .benefits-list {
    display: flex;
} */

.benefits-items {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.benefits-text {
    color: var(--title-text-color);
    letter-spacing: 0.03em;
}

/*--------- Напрямки діяльності та Команда---------*/
.promo-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* .promo-list, .team-list {
    display: flex;
} */

.team {
    background: var(--second-bg-color);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-text {
    font-size: 16px;
    line-height: 1.19px;
    color: var(--title-text-color);
}

/*--------- Футер--------- */
footer {
    background: var(--primary-bg-color);

}

footer .logo {
    color: var(--primary-white-color);
}

.address, .contacts {
    color: var(--primary-white-color);
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.address:hover,
.address:focus {
    color: var(--accent-text-color);
}

footer .contacts {
    color: var(--footer-contact-color);
}

/*--------- стилі для portfolio.html--------- */
/*--------- Приклади--------- */

.button-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--second-bg-color);
    cursor: pointer; 
}

.button-item:hover,
.button-item:focus {
    background-color: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--primary-white-color);
}

.preview-list {
    color: var(--primary-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

.preview-button {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;      
}

.preview-text {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
}
